<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!--css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='index.css')}}"
    />
    <title>Polarframe challenge</title>
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-body">
        <h1 class="title is-info" id="good">Polarframe Challenge</h1>
        <h1 class="subtitle">Coding project challenge</h1>
        <a
          href="https://github.com/CDplayerxOne/Polarframe"
          rel="noopener noreferrer"
          target="_blank"
        >
          <button class="button is-primary">Github</button>
        </a>
      </div>
    </section>
    <section class="level">
      <div class="level-item has-text-centered">
        <h1 class="subtitle">Steps:</h1>
      </div>
    </section>
    <section class="container">
      <div>
        <ol>
          <li>
            Clone this repo, fork this repo or download the code.<br />

            <a
              href="https://github.com/CDplayerxOne/Polarframe"
              rel="noopener noreferrer"
              target="_blank"
              >repo link</a
            >
          </li>
          <li>Code however you like.</li>
          <li>Change whatever you want.</li>

          <li></li>
          <li>Have fun!</li>
          <li>Be creative!</li>
        </ol>
        <div>
          <br />
          Current file structure:
          <br />
          * JS and CSS files are in static <br />
          * HTML templates are in templates <br />
          * Python files are in the root directory<br />
        </div>
      </div>
    </section>
  </body>
  <!--js-->
  <script src="{{url_for('static', filename='index.js')}}"></script>
</html>
